<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="close" class="modal-close" (click)="onClose()">Close</a>
    <h1>{{ player ? 'Edit player Form' : 'New Player Form'}}</h1>
    <div>
      <form [formGroup]="playerForm"  (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="name">Name</label>
          <input formControlName="name" type="text" class="form-control" name="name" required>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" type="text" class="form-control" name="lastName"  required>
        </div>

        <div class="form-group">
          <label for="position">Position</label>
          <select formControlName="position" name="position" class="form-control" required>
            <option *ngFor="let position of squadNumber" [value]="position.key">{{position.label}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="weight">Weight</label>
          <input formControlName="weight" type="text" class="form-control" name="weight"  required>
        </div>

        <div class="form-group">
          <label for="height">Height</label>
          <input formControlName="height" type="text" class="form-control" name="height" required>
        </div>

        <div class="form-group">
          <label for="nationality">Nationality</label>
          <select formControlName="nationality" name="nationality" class="form-control"  required>
            <option *ngFor="let nationality of countries" [value]="nationality.key">{{nationality.label}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="leftFooted">Left Footed</label>
          <input formControlName="leftFooted" type="checkbox" class="form-control checkbox" id="leftFooted-input" name="leftFooted" required>
        </div>

        <div class="submit-container">
          <button type="submit">Submit</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
